@model IEnumerable<WNS_DEMOPROJECT.Models.PatientData>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.assumptions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.year)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.assumptions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.year)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<button type="submit" id="btn1" class="btn btn-primary" onclick="getRowTotal()">STotal</button>
<table id="tabler" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Assumption</th>
            @for (var i = 2016; i < 2025; i++)
            {
                <th scope="col">@i</th>
            }
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model)
        {
            <tr>
                <th scope="row"> @Html.DisplayFor(modelItem => record.assumptions)</th>
                @for (var i = 2016; i < 2025; i++)
                {
                    <td><input class="myclass" value="2" style="width:60px" /></td>
                }

                @* <td><input style="width:60px" disabled /></td> *@

                <td>
                    <p id="myp"> </p>
                </td>
            </tr>
            
        }
        <tr id="mytr">
            <td> Total</td>
        </tr>

    </tbody>

</table>
<script>
    jQuery('document').ready(function () {
        getRowTotal();



    });

    function getRowTotal() {
        $table1 = jQuery('#tabler')
        $table1.find('tbody tr').each(function () {
            var sum = 0;
            jQuery(this).find('input').each(function () {

                sum = sum + parseInt(this.value);

            });
            // $table1.find('p').value = sum;

            $("#myp", this).html(sum);
        });


        //column total

        var result = [];

        $table1 = jQuery('#tabler')
        $table1.find('tbody tr').each(function (index, ele) {

            var rowInputs = ele.querySelectorAll('input');

            var row = [];
            rowInputs.forEach((cell) => {
                row.push(cell.value);
            });

            result.push(row);
        });
        let r = [];
        console.log(result);
        result.forEach(row => {
            var s = 0;
            
            row.forEach((cell, index) => {
                if (!r[index]) r[index] = parseInt(cell);
                else r[index] += parseInt(cell);
            })
        })
        var mytr = document.querySelector('#mytr');
        mytr.innerHTML = '<td>Total</td>';
        r.forEach((value) => {
            mytr.innerHTML += `<td>${value}</td>`;
        })

    }


</script>